<div [hidden]="_hidden">
  <form id="rightclickmenu" class="login" (mouseleave)="_hide_menu()">
    <!-- Small Triangle in top of contextMenu-->
    <div style="margin:-3px 0px 0px -2px;">&#x25E4;</div>

    <div class="form-group">
      <button id="ContextMenu_ExportSourceCodeFMU" type="submit" hidden="true" class="btn btn-primary floatright">Export Source Code Fmumap</button>
      <button id="ContextMenu_ExportToolWrapperFMU" type="submit" hidden="true" class="btn btn-primary floatright">Export Tool Wrapper Fmumap</button>
      <button id="ContextMenu_CreateCoSimulationConfiguration" type="submit" hidden="true" class="btn btn-primary floatright">Create Co-Simulation Configuration</button>
      <button id="ContextMenu_CreateMultiModel" type="submit" hidden="true" class="btn btn-primary floatright">Create Multi-Model</button>
      <button id="ContextMenu_CreateDSE" type="submit" hidden="true" class="btn btn-primary floatright">Create DSE</button>
      <button id="ContextMenu_Delete" type="submit" hidden="true" class="btn btn-primary floatright">Delete</button>
      <button id="ContextMenu_Implode" type="submit" hidden="true" class="btn btn-primary floatright">Implode</button>
      <button id="ContextMenu_Rename" type="submit" hidden="true" class="btn btn-primary floatright">Rename</button>
      <button id="ContextMenu_Update" type="submit" hidden="true" class="btn btn-primary floatright">Update</button>
      <button id="ContextMenu_Upload" type="submit" hidden="true" class="btn btn-primary floatright">Upload</button>
      <button id="ContextMenu_Download" type="submit" hidden="true" class="btn btn-primary floatright">Download</button>
    </div>
  </form>
</div>
